.wrap {
    position: relative;
    pointer-events: none;
}

.values {
    display: flex;
    justify-content: space-between;
}

.lowerValue {
}

.upperValue {
}

.range {
    -webkit-appearance: none;
    position: absolute;
    left: 30px;
    top: 10px;
    /* стили ползунка */
    height: 5px;
    width: 80%;
    display: block;
    padding: 0;
    margin: 0;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    box-sizing: border-box;
    /* стили бегунка */
    height: 20px;
    width: 20px;
    background-color: #2d7777;
    border-radius: 10px;
    transition: 0.5s;
}

.range::-webkit-slider-thumb:hover {
    background-color: #61dafb;
}

.range::-webkit-slider-thumb:active {
    background-color: white;
}

.range::-webkit-slider-runnable-track {

}

.upperInputClassName {
    background-color: rgba(255, 0, 0, 0);
}

.lowerInputClassName {
    background-color: gray;
    border-radius: 3px;
}
