.wrap {
    position: relative;
    pointer-events: none;
}

.range {
    -webkit-appearance: none;
    position: absolute;
    /* стили ползунка */
    height: 5px;
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    box-sizing: border-box;
    /* стили бегунка */
    height: 20px;
    width: 20px;
    background-color: #2d7777;
    border-radius: 10px;
}

.range::-webkit-slider-runnable-track{

}

.upperInputClassName {
    background-color: rgba(255, 0, 0, 0);
}

.lowerInputClassName {
    background-color: gray;
}
